* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #FFF;
    background: #ebf2f5;
}

body, input, button, textarea {
    font: 600 18px Nunito, sans-serif;
}

textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
} 

p.error {
    color: red !important;
    text-align: center;
}