#page-orphanages {
   display: flex;
}
 
 #page-orphanages main {
   flex: 1;
 }
 

#page-orphanages main header {
   border-bottom: solid 1px #D3E2E5;
   margin: 64px auto;
   width: 1120px;

   display: flex;
   justify-content: space-between;
   align-items: center;
}

#page-orphanages main header h1 {
   color: #4D6F80;
   font-size: 32px;
}

#page-orphanages main header span {
   color: #8FA7B2;
}

#page-orphanages main .orphanages-content {
   width: 1120px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-column-gap: 30px;
   margin: 64px auto;
}

#page-orphanages main .no-results {
   width: 1120px;
   height: 100%;
   margin: 64px auto;

   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
#page-orphanages main .no-results p {
   font-size: 24px;
   font-weight: 500;
   color: #8FA7B2;
}